<form class="form-grid" [formGroup]="meetupForm">
  <div class="form-grid__form-header">Редактирование митапа</div>
  <div class="form-grid__label form-grid__first-label">
    <label for="name">Название:</label>
  </div>
  <div class="form-grid__first-input">
    <input class="meetup-form-input" type="text" name="name" formControlName="name">
  </div>
  <div class="form-grid__second-label">
    <label for="date">Дата:</label>
  </div>
  <div class="form-grid__second-input">
    <input class="meetup-form-input" type="text" name="name" formControlName="name">
  </div>
</form>