<header class="header-layout">
  <div class="align-logos">
    <span class="header-layout__label">MeetUps</span>
    <div class="header-layout__logos">
      <img src="assets/logo1.png" alt="Философия IT">
      <img src="assets/logo2.png" alt="Лига Цифровой Экономики">
    </div>
  </div>
  <nav>
    <ul *ngIf="authStatus" class="header-layout__routes">
      <li (click)="travelHandler('all-meetups')">Все митапы</li>
      <li (click)="travelHandler('my-meetups')">Мои митапы</li>
      <li *ngIf="adminStatus" (click)="travelHandler('users-list')">Пользователи</li>
    </ul>
  </nav>
  <div class="header-layout__auth-icons">
    <img *ngIf="authStatus" (click)="settingsHandler()" src="assets/settings.png" alt="Настройки">
    <img *ngIf="authStatus" (click)="logoutHandler()" src="assets/logout.png" alt="Выйти">
    <img *ngIf="!authStatus" (click)="signInHandler()" src="assets/login.png" alt="Авторизация">
  </div>
</header>