.user-form-failed {
  margin: 0 auto;
  margin-top: 10px;
  width: fit-content;

  border: 2px solid var(--accent-color);
  border-radius: 8px;
  padding: 10px 5px;
  margin-bottom: 15px;

  font-family: sans-serif;
  color: var(--bold-color);
}

.user-data-input {
  padding: 12px 20px;
  font-size: 18px;

  background-color: var(--default-color);
  color: white;

  border-radius: 4px;
  border: none;
  margin-right: 10px;
}

.user-data-input:focus {
  outline: 2px solid var(--secondary-color);
}

.user-editor-form__controls-layout > input.invalid {
  outline: 2px solid red;
}

.custom-button {
  font-size: 18px;
  padding: 12px 40px;

  border: none;
  border-radius: 4px;

  transition: transform 0.1s ease-in-out;

  background-color: var(--secondary-color);
  color: var(--bold-color);
}

.custom-button:hover {
  transform: translate(0, -2px);
  cursor: pointer;
}