<div class="howto-page-container">
  <div class="howto-list">
    <h2>Что это за приложение?</h2>
    <p><b>Meetups</b> - простой органайзер митапов с интуитивно понятным интерфейсом и гибкими инструментами работы с
      уже
      созданными митапами.</p>
    <br>
    <h2>Как мне создать учётную запись?</h2>
    <p>Для создания учётной записи необходимо обратиться с администратору. На данный момент возможность регистрации
      отключена.</p>
    <app-button (onClick)="backHandler()" text="Вернуться назад"></app-button>
  </div>
</div>