.user-item-layout {
  display: flex;
  flex-direction: column;
}

.user-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.user-item-cell {
  padding: 15px 20px;
  background-color: var(--default-color);
  border: 1px solid var(--primary-color);
  color: var(--bold-color);
  font-size: 18px;
  font-family: sans-serif;
  width: 15%;
}

.user-item-controls {
  width: fit-content;
}

.user-item-controls > * {
  margin: 5px;
}

.edit-user-failed {
  margin: 0 auto;
  margin-top: 10px;
  width: fit-content;

  border: 2px solid var(--accent-color);
  border-radius: 8px;
  padding: 10px 5px;
  margin-bottom: 15px;

  font-family: sans-serif;
  color: var(--bold-color);
}

.user-editor-container {
  margin: 10px auto;
  width: fit-content;
}

.user-data-input {
  padding: 12px 20px;
  font-size: 18px;

  background-color: var(--default-color);
  color: white;

  border-radius: 4px;
  border: none;
  margin-right: 10px;
}

.user-data-input:focus {
  outline: 2px solid var(--secondary-color);
}