<div class="user-item-layout">
  <div class="user-item-container">
    <div class="user-item-cell">{{ data.email }}</div>
    <div class="user-item-cell">{{ data.fio }}</div>
    <div class="user-item-cell">
      <select>
        <option *ngFor="let r of currentRoles.value">{{ r }}</option>
      </select>
    </div>
    <div class="user-item-controls">
      <app-button (click)="deleteUserHandler()" text="Удалить"></app-button>
      <app-button (click)="toggleEditor()" text="Изменить"></app-button>
    </div>
  </div>
  <div class="user-editor-container" *ngIf="isEditorToggled">
    <app-user-form [data]="data"></app-user-form>
  </div>
  <div class="edit-user-failed" *ngIf="isFailed">Нельзя редактировать свою учётную запись</div>
</div>