.user-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.user-item-cell {
  padding: 15px 20px;
  background-color: var(--default-color);
  border: 1px solid var(--primary-color);
  color: var(--bold-color);
  font-size: 18px;
  font-family: sans-serif;
  width: 15%;
}

.user-item-controls {
  width: fit-content;
}

.user-item-controls > * {
  margin: 5px;
}